<div class="row">

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
           
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/home">Home</a></li>
              <li><a href="/home2">home2</a></li>
            </ul>
           
            <ul class="nav navbar-nav navbar-right">
              <li><a  ><span class="glyphicon glyphicon-user"></span>  {{Email}}</a></li>
            </ul>
          </div>
        </div>
      </nav>
       
 
<div class="container">
    <div class="row">
      
      <div class="col-sm-4">
        <div class="well">
          <p>Some text..</p>
        </div>
        <div class="well">
           <p>Upcoming Events..</p>
        </div>
        <div class="well">
           <p>Visit Our Blog</p>
        </div>
      </div>
    </div>
    <hr>
    </div>
    
    <div class="container text-center">    
      <h3>What We Do</h3>
      <br>
      <div class="row">
        <div class="col-sm-3">
          <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
          <p>Current Project</p>
        </div>
        <div class="col-sm-3"> 
          <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
          <p>Project 2</p>    
        </div>
        <div class="col-sm-3">
          <div class="well">
           <p>Some text..</p>
          </div>
          <div class="well">
           <p>Some text..</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
           <p>Some text..</p>
          </div>
          <div class="well">
           <p>Some text..</p>
          </div>
        </div>  
      </div>
      <hr>
    </div>
    
    <div class="container text-center">    
      <h3>Our Partners</h3>
      <br>
      <div class="row">
        <div class="col-sm-2">
          <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
          <p>Partner 1</p>
        </div>
        <div class="col-sm-2"> 
          <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
          <p>Partner 2</p>    
        </div>
        <div class="col-sm-2"> 
          <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
          <p>Partner 3</p>
        </div>
        <div class="col-sm-2"> 
          <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
          <p>Partner 4</p>
        </div> 
        <div class="col-sm-2"> 
          <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
          <p>Partner 5</p>
        </div>     
        <div class="col-sm-2"> 
          <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
          <p>Partner 6</p>
        </div> 
      </div>
    </div><br>
    
    <footer class="container-fluid text-center">
      <p>Footer Text</p>
    </footer>
</div>
